*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties - update these for your own design */

:root {
  /* setting custom properties */
  /* root is highest specificity for the entire html */
  /* setting font family */
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro" monospace;

  /* setting font weight*/
  --fw-reg: 300;
  --fw-bold: 900;

  /* setting colors */
  --clr-light: #fff;
  --clr-dark: #303030;
  /* accent color is the extra colorful color in this design that is not just white or the dark color for the text */
  --clr-accent: #16e0bd;

  /* setting font sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* bs = "box shadow". Setting properties to box shadow so it can be reused */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* setting up media query different sizes for bigger screens */
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.2em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

/* this puts your name on a separate line since it becomes a block element instead of inline - remove to have your name on the same line */
.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* header */

nav {
  display: none;
}

/* Intro section styling */

.intro {
  position: relative;
}

/* setting custom box shadow on all intro_imgs */
.intro_img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block; /* sets the width to be the size of the content of the "band" */
}

/* this makes the intro text and img be in grids (side by side) when view is bigger than 600px */
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro_img {
    grid-area: img;
    min-width: 250px;
    position: relative; /* makes the img be in front of the tile "band" */
    z-index: 2; /* to make sure that the img is on a level above the "band" */
  }

  /* beginning of this block is fairly confusing to me - check video at about 48 min mark */
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My services section */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(img/codebackground_04.jpg);
  color: var(--clr-light);
  /* background-blend-mode: multiply; */ /* makes the background img and background color blend together */
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  /* this is a pseudo element that creates the line that comes after the title "What I do" */
  content: ""; /* a pseudo element needs to have a content property of some sort or it will not appear at all */
  display: block;
  width: 2.5em;
  height: 1px;
  margin: 0.3em auto 1em; /* top left+right bottom */
  background: var(--clr-light);
  opacity: 0.25; /* make it a little transparent */
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img" /* title and image  */
      "subtitle img" /* subtitle and image */
      "text img" /* text and image */;
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(
      200px + 4em
    ); /* padding so that the text doesn't move into the grid gap between text and img */
  }

  .about-me__img {
    grid-area: img;
    position: relative;
  }
}
